.title-section {
  display: flex;
  flex-direction: column;
}

.title-section .title1 {
  font-weight: 600;
  font-size: 1.5rem;
}

.title-section .title2 {
  font-weight: 500;
  font-size: 0.8rem;
}

.dialogue-title {
  display: flex;
  justify-content: space-between;
}

.dialogue-title button {
  color: #d9f954;
  padding: 0;
  align-self: baseline;
}

.dialog-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
