.stats-card {
  display: flex;
  align-items: center;
  justify-content: initial;
  background-color: #243325;
  color: #ffffff;
  padding: 1.25rem;
  border-radius: 0.5rem;
  gap: 1rem;
  width: 20rem;
  height: 5rem;
}

.stats-card svg {
  align-self: start;
}

.stats-card .content h2 {
  margin: 0;
  font-weight: 200;
  font-size: 0.8rem;
}

.stats-card .content p {
  margin: 0;
  font-weight: 800;
  font-size: 2rem;
  margin-top: 0.5rem;
}
